[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = ">=3.4.4"
regex = "*"
tldextract = "*"
flask = "==2.2.5"
pyyaml = "*"
phonenumbers = ">=8.12"
typing-extensions = "*"

[dev-packages]
pytest = "*"
flake8 = "==5.0.4"
pep8-naming = "*"
flake8-docstrings = "*"
pre_commit = "*"
